<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="#{{img_path}}/favicon.ico">
    <link rel="stylesheet" href="#{{css_path}}/main.css">
    <title>书籍管理 - hyakkei</title>
    <script src='#{{js_path}}/jquery.min.js'></script>
</head>

<body>
    <div class="backstage">
        <div class="global-cover"></div>
        <div>
            <header class="backstage-header">
                <span id="collapsed-btn"><img src="#{{img_path}}/icons/menu.svg" /></span>
                <h1>hyakkei 博客管理</h1>
                <div class="dropdown">
                    <span id="username"></span>
                    <ul class="dropdown-menu">
                        <li onclick="logout()">退出登录</li>
                    </ul>
                </div>
            </header>
            <aside class="backstage-aside">
                <ul>
                    <li id="aside-dashboard" onclick="jump('dashboard')">
                        <img src="#{{img_path}}/icons/dashboard.svg" /><span>仪表盘</span>
                    </li>
                    <li id="aside-articles" onclick="jump('articles')">
                        <img src="#{{img_path}}/icons/article.svg" /><span>文章管理</span>
                    </li>
                    <li id="aside-pages" onclick="jump('pages')">
                        <img src="#{{img_path}}/icons/page_m.svg" /><span>页面管理</span>
                    </li>
                    <li id="aside-books" onclick="jump('books')">
                        <img src="#{{img_path}}/icons/book.svg" /><span>书籍管理</span>
                    </li>
                    <li id="aside-tags" onclick="jump('tags')">
                        <img src="#{{img_path}}/icons/tag.svg" /><span>标签管理</span>
                    </li>
                    <li id="aside-friends" onclick="jump('friends')">
                        <img src="#{{img_path}}/icons/friend.svg" /><span>友链管理</span>
                    </li>
                    <li id="aside-setting" onclick="jump('setting')">
                        <img src="#{{img_path}}/icons/setting.svg" /><span>系统设置</span>
                    </li>
                </ul>
            </aside>
            <main class="backstage-main">
                <div class="cover"></div>
                <div class="card">
                    <span>书籍管理</span>
                </div>
                <div class="card">
                    <button my-loading class="btn" onclick="handleEdit()">新增</button>
                    <div class="table-wrapper" loading>
                        <table class="backstage-table">
                        </table>
                        <nav>
                            <ul id="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
        </div>

        <footer class="footer">
            &copy; 2021 | 由 hyakkei 勉力驱动
        </footer>

        <div class="global-layer" style="height: 420px;">
            <div class="global-layer-header" onclick="onClose()">x</div>
            <div class="global-layer-content">
                <div>
                    <span class="long">书名</span>
                    <input class="option" id="bookTitle" autocomplete="off" placeholder="书名"
                        onchange="onTitleChange(this.value)" />
                </div>
                <div>
                    <span class="long">出版年份</span>
                    <input class="option" id="bookYear" autocomplete="off" placeholder="2021" maxlength="4"
                        onchange="onYearChange(this.value)" />
                </div>
                <div>
                    <span class="long">作者</span>
                    <input class="option" id="bookAuthor" autocomplete="off" placeholder="author"
                        onchange="onAuthorChange(this.value)" />
                </div>
                <div>
                    <span class="long">状态</span>
                    <div class="option">
                        <div class="select">
                            <input readonly autocomplete="off" placeholder="请选择" />
                            <ul id="readStatus" defaultValue="wish" onchange="onStatusChange">
                                <li class="select-option" value="wish">想读</li>
                                <li class="select-option" value="read">读过</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="long">豆瓣链接</span>
                    <input class="option" id="doubanUrl" onchange="onLinkUrlChange(this.value)" autocomplete="off"
                        placeholder="http://example.com" />
                </div>
                <div>
                    <span class="long">简介</span>
                    <textarea id="summary" autocomplete="off" placeholder="输入简介描述"
                        onchange="onSummaryChange(this.value)"></textarea>
                </div>
                <div>
                    <span class="long">读后感/简评</span>
                    <textarea id="shortComment" autocomplete="off" onchange="onCommentChange(this.value)"></textarea>
                </div>
            </div>
            <div class="btn-wrapper">
                <button onclick="onClose()" class="btn">取消</button>
                <button class="btn" onclick="saveBook()" my-loading>确定</button>
            </div>
        </div>
    </div>
</body>


<script src="#{{js_path}}/main.js"></script>
<script src="#{{js_path}}/bs.js"></script>
<script>
    var page = 1;
    var dataList = [];
    var total = 0;
    var editData = {};

    const columns = [{ title: "书名", dataIdx: "title" }, { title: "出版年份", dataIdx: "year" },
    { title: "作者", dataIdx: "author" }, { title: "状态", dataIdx: "status", render: function (val) { return val === "read" ? `<span class="tag green">读过</span>` : `<spann class="tag orange">想读</span>` } },
    { title: "豆瓣链接", dataIdx: "douban_url", render: function (v) { if (v) { return `<a href="${v}"  title="${v}" target="_blank">点击前往</a>` } else { return `<span>暂无链接</span>` } } }, { title: "添加时间", dataIdx: "create_at" },
    { title: "操作", render: function (_, idx) { return `<a onclick="handleEdit(${idx})">编辑</a><hr /><a onclick="delBook(${idx})">删除</a>` } }];

    generateTableContent($('.table-wrapper table').get(0), columns);

    async function saveBook() {
        if (!editData) {
            message.warn("编辑数据不存在");
            return
        }
        if (!editData.title) {
            message.warn("请输入书名");
            return
        }
        if (!editData.year) {
            message.warn("请输入出版年份");
            return;
        }
        if (!editData.author) {
            message.warn("请输入作者名称");
            return;
        }
        try {
            setLoading();
            // 保存数据
            await request(bsApi.saveBook, { data: editData, method: "POST" }).then(resp => {
                if (!resp.success) {
                    message.warn(resp.message);
                    return;
                }
                message.success(resp.message);
                getBookList(page);
                onClose();
            })
        } finally {
            removeLoading();
        }
    }

    async function delBook(idx) {
        try {
            setLoading();
            const id = dataList[idx].id;
            await request(bsApi.delBook + `?id=${id}`, { method: "DELETE" }).then(resp => {
                if (!resp.success) {
                    message.warn(resp.message);
                    return;
                }
                message.success(resp.message);
                getBookList(page);
            })
        } finally {
            removeLoading();
        }
    }

    function onTitleChange(val) {
        editData.title = val;
    }

    function onYearChange(val) {
        editData.year = val;
    }

    function onAuthorChange(val) {
        editData.author = val;
    }

    function onLinkUrlChange(val) {
        editData.douban_url = val;
    }

    function onStatusChange(val) {
        editData.status = val;
    }

    function onSummaryChange(val) {
        editData.summary = val;
    }

    function onCommentChange(val) {
        editData.short_comment = val;
    }

    async function getBookList(p) {
        try {
            setLoading();
            await request(bsApi.bookList + `?page=${p}`).then(resp => {
                if (!resp.success) {
                    message.warn(resp.message);
                    return;
                }
                page = p;
                dataList = resp.data || [];
                total = resp.total;
                let tableEle = $('.table-wrapper table').get(0);
                updateTableData(tableEle, columns, dataList);
                updatePagination();
            });
        } finally {
            removeLoading();
        }
    }

    function updatePagination() {
        const e = $("#pagination").get(0);
        if (!e) { return }
        let appStr = "";
        if (page > 1) {
            appStr += `<li><a onclick="getBookList(${page - 1})">${page - 1}</a></li>`;
        }
        appStr += `<li><a class="is-selected">${page}</a></li>`;
        if (page * 10 < total) {
            appStr += `<li><a onclick="getBookList(${page + 1})">${page + 1}</a></li>`;
        }
        $(e).empty();
        $(e).append(appStr);
    }

    getBookList(1);

    function handleEdit(idx) {
        editData = !isNaN(idx) ? { ...dataList[idx] } : editData;
        $("#bookTitle").val(editData.title);
        $("#bookYear").val(editData.year);
        $("#bookAuthor").val(editData.author);
        $("#doubanUrl").val(editData.douban_url);
        $("#summary").val(editData.summary);
        $("#shortComment").val(editData.short_comment);
        setSelectVal($("#readStatus"), editData.status);
        changeLayerVisible();
    }

    function onClose() {
        changeLayerVisible();
        editData = { status: "wish" };
    }
</script>