<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <title>hyakkei's blog</title>
    <link rel="shortcut icon" href="#{{img_path}}/favicon.ico">
    <link rel="stylesheet" href="#{{css_path}}/photoswipe.css">
    <link rel="stylesheet" href="#{{css_path}}/default-skin.css">
    <link rel="stylesheet" href="#{{css_path}}/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
    <script src='#{{js_path}}/jquery.min.js'></script>
    <script src='#{{js_path}}/photoswipe.min.js'></script>
    <script src='#{{js_path}}/photoswipe-ui-default.min.js'></script>
    <script src="#{{js_path}}/main.js"></script>
</head>

<body>
<div class='main'>
    <div class="main-content">
        <iframe class="header-iframe" width="100%" src="header.html" frameborder="no" scrolling="no"></iframe>
        <div class="books-content">
            <h2>读过</h2>
            <div id="read" class="books-item">
                <h3 style="color: #717171">查询中...</h3>
            </div>
            <h2>想读</h2>
            <div id="wish" class="books-item">
                <h3 style="color: #717171">查询中...</h3>
            </div>
        </div>
        <iframe class="footer-iframe" width="100%" src="footer.html" frameborder="no" scrolling="no"></iframe>
    </div>
</div>
<script>
    request(api.books).then(resp => {
        if (!resp.success) {
            message.warn(resp.message);
            return;
        }
        const wishList = resp.data.wish_list || [];
        let wishStr = "";
        for (let i in wishList) {
            wishStr += `<a title="${wishList[i].title}">
                        <div class="book-image"
                            style="background-image: url(&quot;${wishList[i].pic_url}&quot;);">
                        </div>
                        <div class="book-title">${wishList[i].title}</div>
                    </a>`
        }
        const readList = resp.data.read_list || [];
        let readStr = "";
        for (let i in readList) {
            readStr += `<a title="${readList[i].title}">
                        <div class="book-image"
                            style="background-image: url(&quot;${readList[i].pic_url}&quot;);">
                        </div>
                        <div class="book-title">${readList[i].title}</div>
                    </a>`
        }
        for (let i = 0; i < 5; i++) {
            if (wishStr.length !== 0) {
                wishStr += "<i></i>";
            }
            if (readStr.length !== 0) {
                readStr += "<i></i>";
            }
        }
        $("#wish").empty();
        $("#read").empty();
        const noStr = `<h3 style="color: #717171">～ 暂无数据 ～</h3>`;
        $("#wish").append(wishStr || noStr);
        $("#read").append(readStr || noStr);

    })
</script>
</body>