<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="#{{img_path}}/favicon.ico">
    <link rel="stylesheet" href="#{{css_path}}/main.css">
    <title>hyakkei's blog</title>
    <script src='#{{js_path}}/jquery.min.js'></script>
    <script src="#{{js_path}}/main.js"></script>
</head>

<body>
<div class='main'>
    <div class="main-content">
        <iframe class="header-iframe" width="100%" src="header.html" frameborder="no" scrolling="no"></iframe>
        <div id="list" class="content"></div>
        <div id="pagination" class="pagination-container"></div>
        <footer class="footer">
            &copy; 2021 | 由 hyakkei 勉力驱动
        </footer>
    </div>
</div>
</body>

<script>
    var page = 1;
    var total = 0;
    function getPre() {
        getArticles(page - 1);
    }
    function getNext() {
        getArticles(page + 1);
    }
    function getArticles(p) {
        request(api.articles + `?page=${p}`).then(resp => {
            if (!resp.success) {
                message.warn(resp.message);
                return;
            }
            const list = resp.data || [];
            total = resp.total;
            let appendStr = "";
            for (let i in list) {
                appendStr += `<article><a href='${list[i].slug}.html'><h2>${list[i].title}</h2></a><div class="post-desc"><time>${list[i].create_at.split(" ")[0]}</time>`;
                for (let j in list[i].tags) {
                    appendStr += `<span>${list[i].tags[j]}</span>`;
                }
                appendStr += `</div></article>`;
            }
            $("#list").empty();
            $("#list").append(appendStr);
            $("#pagination").empty();
            if (p !== 1) {
                $("#pagination").prepend(`<a onclick="getPre()">上一页</a>`);
            }
            if (p * 10 < total) {
                $("#pagination").prepend(`<a onclick="getNext()">下一页</a>`);
            }
            page = p;
        })
    }
    getArticles(page);
</script>

</html>